/* CSS untuk tampilan container */
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 20px;
}

/* CSS untuk judul */
h1 {
  color: #009688;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

/* CSS untuk deskripsi */
p {
  color: #333;
  font-size: 18px;
  line-height: 1.5;
}

/* CSS untuk daftar */
ul {
  list-style: none;
  padding: 0;
}

li {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

/* CSS untuk teks tebal */
b {
  color: #009688;
}

/* CSS untuk tautan */
a {
  color: #fff;
  background-color: #009688;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}

a:hover {
  background-color: #008080;
}

/* CSS untuk menu .ai */
li:nth-child(1)::before {
  content: ".ai";
  background-color: #00bcd4;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 3px;
}

/* CSS untuk menu .sticker */
li:nth-child(2)::before {
  content: ".sticker";
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 3px;
}

/* CSS untuk menu .gc */
li:nth-child(3)::before {
  content: ".gc";
  background-color: #ff9800;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 3px;
}

/* CSS untuk menu .Prem */
li:nth-child(4)::before {
  content: ".Prem";
  background-color: #f44336;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 3px;
}
