body {
	background-color: #FEDCD3;
	color: #4E407C;
	font-family: sans-serif;
}

h2 {
	color: #FF6B6B;
}

form {
	background-color: #FEEAE6;
	border: 2px solid #4E407C;
	padding: 20px;
}

input[type="radio"] {
	margin-right: 10px;
}

select {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #4E407C;
}

#danaPayment, #qrisPayment {
	margin-top: 10px;
}

#qrisPayment img {
	width: 200px;
}

button {
	background-color: #FF6B6B;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}

button:hover {
	background-color: #FEDCD3;
	color: #4E407C;
}
