body {
  background-color: #2e3192;
  color: #fff;
  font-family: sans-serif;
}

h2 {
  font-size: 36px;
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

input[type="radio"],
input[type="file"] {
  margin: 10px 0;
}

label {
  font-size: 18px;
}

select {
  margin: 10px 0;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
}

#danaPayment,
#qrisPayment {
  margin-top: 10px;
}

#qrisPayment img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

#submitBtn {
  background-color: #fff;
  color: #2e3192;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

#submitBtn:hover {
  background-color: #2e3192;
  color: #fff;
}
