body {
  background-color: #1C1C1C;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

h2 {
  color: #FFD700;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

form {
  margin: 0 auto;
  max-width: 400px;
}

input[type="radio"] {
  margin: 10px;
}

label {
  color: #FFD700;
  display: block;
  margin-top: 20px;
}

input[type="file"] {
  margin-top: 20px;
}

input[type="submit"] {
  background-color: #FFD700;
  border: none;
  color: #1C1C1C;
  display: block;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #FFFFFF;
  color: #1C1C1C;
  cursor: pointer;
}
